In [4]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(8))
print (s)

0    0.631332
1   -0.225666
2    0.607464
3    0.557271
4   -1.126044
5   -0.416036
6   -0.569192
7    0.964689
dtype: float64

In [6]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(8))
print ("The axes are : ",s.axes)

The axes are :  [RangeIndex(start=0, stop=8, step=1)]

In [8]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(8))
print ("Is the object empty? - ", s.empty)

Is the object empty? -  False

In [9]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(8))
print (s)
print ("The dimensions of the object is : ",s.ndim)

0    0.636616
1   -0.761920
2    1.345605
3    1.601694
4    1.930519
5   -0.036900
6   -0.581280
7   -0.641044
dtype: float64
The dimensions of the object is :  1

In [11]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(4))
print (s)
print ("The size of the object is : ",s.size)

0    1.727972
1    0.136272
2    0.107328
3    1.082867
dtype: float64
The size of the object is :  4

In [12]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(4))
print (s)
print ("The actual data series is : ",s.values)

0   -1.646998
1    1.294135
2   -0.760954
3   -1.463229
dtype: float64
The actual data series is :  [-1.64699841  1.2941346  -0.76095446 -1.46322915]

In [13]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(8))
print ("The original series is : ",s)
print ("The first two rows of the data series is : ",s.head(2))

The original series is :  0   -1.033238
1   -0.919413
2    1.047551
3   -1.289666
4   -1.107976
5    1.088349
6    0.395820
7    0.961755
dtype: float64
The first two rows of the data series is :  0   -1.033238
1   -0.919413
dtype: float64

In [14]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(8))
print ("The original series is : ",s)
print ("The last two rows of the data series is : ",s.tail(2))

The original series is :  0   -0.633049
1    0.956163
2    0.181445
3   -0.586519
4    0.358337
5   -0.192754
6    0.215359
7   -0.464047
dtype: float64
The last two rows of the data series is :  6    0.215359
7   -0.464047
dtype: float64

In [29]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
       Name  Age Gender
0     Honey   20      F
1     Dolly   18      F
2       TSR   49      M
3  Chinnari   40      F

In [28]:
import pandas as pd
import numpy as np
 
# Create a Dictionary of series
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}
# Create a DataFrame
df = pd.DataFrame(d)
print ("The transpose of the data series is:")
print (df.T)

The transpose of the data series is:
            0      1    2         3
Name    Honey  Dolly  TSR  Chinnari
Age        20     18   49        40
Gender      F      F    M         F

In [27]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=4, step=1), Index(['Name', 'Age', 'Gender'], dtype='object')]

In [26]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name      object
Age        int64
Gender    object
dtype: object

In [25]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [23]:
#ndim-Returns the number of dimensions of the object. By definition, DataFrame is a 2D object.

import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The dimension of the object is:")
print (df.ndim)

Our object is:
       Name  Age Gender
0     Honey   20      F
1     Dolly   18      F
2       TSR   49      M
3  Chinnari   40      F
The dimension of the object is:
2

In [22]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("The object is:")
print (df)
print ("The shape of the object is : ")
print (df.shape)

The object is:
       Name  Age Gender
0     Honey   20      F
1     Dolly   18      F
2       TSR   49      M
3  Chinnari   40      F
The shape of the object is :
(4, 3)

In [21]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The total number of elements in our object is : ",df.size)

Our object is:
       Name  Age Gender
0     Honey   20      F
1     Dolly   18      F
2       TSR   49      M
3  Chinnari   40      F
The total number of elements in our object is :  12

In [18]:
import pandas as pd
import numpy as np
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}
df = pd.DataFrame(d)
print ("The object is:")
print (df)
print ("The actual data in our data frame is : ")
print (df.values)

The object is:
       Name  Age Gender
0     Honey   20      F
1     Dolly   18      F
2       TSR   49      M
3  Chinnari   40      F
The actual data in our data frame is :
[['Honey' 20 'F']
 ['Dolly' 18 'F']
 ['TSR' 49 'M']
 ['Chinnari' 40 'F']]

In [17]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("The data frame is:")
print (df)
print ("The first two rows of the data frame is : ")
print (df.head(3))
print("Default head values are : ")
print (df.head())

The data frame is:
       Name  Age Gender
0     Honey   20      F
1     Dolly   18      F
2       TSR   49      M
3  Chinnari   40      F
The first two rows of the data frame is :
    Name  Age Gender
0  Honey   20      F
1  Dolly   18      F
2    TSR   49      M
Default head values are :
       Name  Age Gender
0     Honey   20      F
1     Dolly   18      F
2       TSR   49      M
3  Chinnari   40      F

In [16]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Honey','Dolly','TSR','Chinnari']),
   'Age':pd.Series([20,18,49,40]), 
   'Gender':pd.Series(['F','F','M','F'])}
df = pd.DataFrame(d)
print ("The data frame is:")
print (df)
print ("The last two rows of the data frame is : ")
print (df.tail(2))

The data frame is:
       Name  Age Gender
0     Honey   20      F
1     Dolly   18      F
2       TSR   49      M
3  Chinnari   40      F
The last two rows of the data frame is :
       Name  Age Gender
2       TSR   49      M
3  Chinnari   40      F