In [7]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print("printing the results of pipe")
print(df.pipe(adder,2))

       col1      col2      col3
0 -0.848554 -0.049688  0.591420
1  0.420338 -1.262283  0.246616
2  0.415845 -0.510364 -1.471374
3  0.392155  1.103341  1.609176
4 -1.190195 -1.053302 -0.121326
printing the results of pipe
       col1      col2      col3
0  1.151446  1.950312  2.591420
1  2.420338  0.737717  2.246616
2  2.415845  1.489636  0.528626
3  2.392155  3.103341  3.609176
4  0.809805  0.946698  1.878674

In [8]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print (df.apply(np.mean))

       col1      col2      col3
0 -0.531656  0.681589 -0.485882
1  0.479041  0.704412  1.287908
2 -0.091924  0.756160  0.613621
3 -0.045790 -0.407299 -0.979141
4  0.990996 -0.964394 -1.689338
col1    0.160133
col2    0.154094
col3   -0.250566
dtype: float64

In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print (df.apply(np.mean,axis=1))

       col1      col2      col3
0  0.084549  0.167735 -1.585421
1 -0.615811 -0.174945  0.015171
2  0.388638 -1.630645  0.812374
3  0.742638 -2.345285 -1.610126
4 -0.360676  1.825497  0.988508
0   -0.444379
1   -0.258528
2   -0.143211
3   -1.070924
4    0.817776
dtype: float64

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print(df['col1'].map(lambda x:x*100))

       col1      col2      col3
0  1.565301 -1.219597 -1.439823
1 -0.277025 -0.129678 -0.466199
2  0.458448  0.582576 -0.547686
3  2.101192 -0.690407  1.973380
4 -0.210337  0.724229  0.053184
0    156.530130
1    -27.702491
2     45.844774
3    210.119163
4    -21.033669
Name: col1, dtype: float64

In [18]:
df=pd.DataFrame({'id':[1,2,3,4],'name':['Honey','Dolly','TSR','Chinnari'],'age':[20,18,59,41], 'Occupation':['Student','Student','COE','House Wife'],'Income':[50000,50000,25000,80000]})
print(df)

   id      name  age  Occupation  Income
0   1     Honey   20     Student   50000
1   2     Dolly   18     Student   50000
2   3       TSR   59         COE   25000
3   4  Chinnari   41  House Wife   80000

In [19]:
df['age']=df.apply(lambda x: x['age']+3, axis=1)
print(df)

   id      name  age  Occupation  Income
0   1     Honey   23     Student   50000
1   2     Dolly   21     Student   50000
2   3       TSR   62         COE   25000
3   4  Chinnari   44  House Wife   80000

In [20]:
list(filter(lambda x:x>18, df['age']))

[23, 21, 62, 44]

In [22]:
df['Income']=list(map(lambda x: int(x+x*0.2), df['Income']))
print(df)

   id      name  age  Occupation  Income
0   1     Honey   23     Student   60000
1   2     Dolly   21     Student   60000
2   3       TSR   62         COE   30000
3   4  Chinnari   44  House Wife   96000

In [23]:
import functools

functools.reduce(lambda a,b: a+b, df['Income'])

246000

In [24]:
df['category']=df['age'].apply(lambda x: 'Adult' if x>=18 else 'Child')

In [25]:
print(df)

   id      name  age  Occupation  Income category
0   1     Honey   23     Student   60000    Adult
1   2     Dolly   21     Student   60000    Adult
2   3       TSR   62         COE   30000    Adult
3   4  Chinnari   44  House Wife   96000    Adult