In [10]:
import pandas as pd
d=pd.read_excel(r'C:\Users\user\Desktop\Book1.xlsx')
df=pd.DataFrame(d)
print(df)

       Name  English  Maths  Science  Total
0     Honey       95     90       94    279
1     Dolly       90     99       96    285
2       TSR       60     80       70    210
3  Chinnari       65     55       80    200
4    Aadhya       88     94       99    281
5   Gulshan       92     95       95    282
6    Sowmya       80     60       90    230
7   Deepthi       80     70       85    235
8     Arjun       90     90       90    270
9    Shanvi       98     97       96    291

In [11]:
df['Percentage']=df['Total']/300*100
print(df)

       Name  English  Maths  Science  Total  Percentage
0     Honey       95     90       94    279   93.000000
1     Dolly       90     99       96    285   95.000000
2       TSR       60     80       70    210   70.000000
3  Chinnari       65     55       80    200   66.666667
4    Aadhya       88     94       99    281   93.666667
5   Gulshan       92     95       95    282   94.000000
6    Sowmya       80     60       90    230   76.666667
7   Deepthi       80     70       85    235   78.333333
8     Arjun       90     90       90    270   90.000000
9    Shanvi       98     97       96    291   97.000000

In [12]:
df.to_excel(r'C:\Users\user\Desktop\new.xlsx')

In [13]:
df.to_excel(r'C:\Users\user\Desktop\new1.xlsx',index=False)

In [14]:
df.to_csv(r'C:\Users\user\Desktop\CSV1.csv',index=False)

In [15]:
df.to_csv(r'C:\Users\user\Desktop\TEXT.txt',index=False,sep="\t")